@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap);

/*GENERAL STYLING*/
::-moz-selection{
	color: white;
	background-color: rgb(32,100,212);
	text-shadow: inherit;
}

body{
	background-color: #444F5A;
	max-width: 640px;

	margin: 0 auto;
	padding: 0 0.5em;

	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body.no-scroll{
	overflow: hidden;
}

a{
	text-decoration: none;
	color: inherit;
}


/*AVATAR*/
#avatar{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	margin-top: 5.0em;
	width: 9.375em;
	height: 9.375em;

	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	transition: transform 0.5s cubic-bezier(0.19, 1.0, 0.22, 1.0),
	            box-shadow 0.5s cubic-bezier(0.19, 1.0, 0.22, 1.0);
}
#avatar:hover{
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),
	            0 5px 15px rgba(0,0,0,0.15);
	transform: translateY(-3px) scale(1.03);
}

#avatar-link:active #avatar{
	transform: none;
	transition-duration: 0.2s;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/*NAVIGATION BAR*/
nav{
	width: 35em;
	height: 0;

	position: absolute;
	top:0; bottom:0; right:0; left:0;
	margin: 5.0em auto 0 auto;

	cursor: default;
}

nav ul{
	padding: 0;
	margin: 0;
}

.navbar{
	width: 50%;
	background-color: #DDD;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.navbar li{
	list-style-type: none;
	display: inline;

	text-shadow: 0 1px 1px rgba(255,255,255,1);
}

.navbar a{
	display: inline-block;
    text-align: center;
    color: grey;
    text-decoration: none;
    width: 100%;
    padding: 1.05em 0em 1.05em 0em;
    transition: background-color 0.3s ease-out;
}

.navbar a:hover{
	background-color: white;
	transition: background-color 0.075s linear;
}

.navbar a:active{
	background-color: grey;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	transition: none;
}

#nvleft{
	float: left;
	text-align: left;
}

#nvright{
	float: right;
	text-align: right;
}

#nvleft, #nvleft > li:first-child a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#nvleft, #nvleft > li:last-child a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#nvright, #nvright > li:first-child a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#nvright, #nvright > li:last-child a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*ARTICLES*/
#main-container{
	margin-top: 300px;
}

article{
	position: relative;
	width: 100%;

	box-sizing: border-box;
	margin-bottom: 50px;

	background-color: white;
	box-shadow: 0 2px 1px rgba(0,0,0,0.25);

	border-radius: 7px 7px 5px 5px; /*to cut the rest of the back*/
	/*overflow: hidden;*/ /*to clip the inner img*/
}

article a.cover-link{
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;

	border-radius: inherit;
	background-color: inherit;
	opacity: 0;

	font-weight: 400;
	font-size: 1.5em;

	transition: opacity 0.1s ease-in-out;

	cursor: pointer;
}
article:hover a.cover-link{
	opacity: 0.95;
}

article a.cover-link:before,
article a.footer-link:before{
	content: '';
	height: 0.92em;
	width: 0.92em;
	margin-right: 0.20em;
	margin-top: 1px;

	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill-rule='evenodd' fill='white' d='M88.487 5H12.6C8.96 5 6 7.96 6 11.6v75.886c0 3.64 2.96 6.6 6.6 6.6h75.887c3.64 0 6.6-2.96 6.6-6.6V11.6c0-3.64-2.96-6.6-6.6-6.6zm-37.44 23.29h24.296v6H51.047v-6zm0 30.667h16.71v6h-16.71v-6zM29.862 9.237c1.427 0 2.584 1.156 2.584 2.583 0 1.427-1.157 2.585-2.584 2.585s-2.585-1.158-2.585-2.585 1.158-2.584 2.585-2.584zm-16.537 5.168c-1.428 0-2.585-1.158-2.585-2.585s1.157-2.584 2.585-2.584c1.427 0 2.584 1.157 2.584 2.584s-1.16 2.585-2.588 2.585zm8.268-5.17c1.428 0 2.584 1.158 2.584 2.585s-1.156 2.585-2.584 2.585c-1.427 0-2.584-1.158-2.584-2.585s1.153-2.584 2.58-2.584zm-2.41 49.722H42.42V80.29H19.183V58.957zm0-30.667H42.42v21.333H19.183V28.29zm31.864 46h26.588v6H51.047v-6zm0-30.667h30.527v6H51.047v-6z'/></svg>");
}
article.has-story a.cover-link:before,
article.has-story a.footer-link:before{
	content: '';
	height: 1em;
	width: 1em;
	margin-right: 0.15em;

	background-image: url("data:image/svg+xml;utf8,<svg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path d='M80.3,73c2.3-3,4.2-6.2,5.6-9.7c1.7-4.4,2.6-9.2,2.6-14c0-21.2-17.3-38.5-38.5-38.5S11.5,28.1,11.5,49.3S28.8,87.8,50,87.8 c4.3,0,8.6-0.7,12.7-2.2L83,89.2c0.1,0,0.3,0,0.4,0c0.8,0,1.5-0.3,2-0.9c0.6-0.7,0.7-1.7,0.3-2.5L80.3,73z M34.5,56.1 c-3.4,0-6.1-2.7-6.1-6.1s2.8-6.1,6.1-6.1s6.1,2.7,6.1,6.1S37.8,56.1,34.5,56.1z M50,56.1c-3.4,0-6.1-2.7-6.1-6.1s2.8-6.1,6.1-6.1 s6.1,2.7,6.1,6.1S53.4,56.1,50,56.1z M65.5,56.1c-3.4,0-6.1-2.7-6.1-6.1s2.8-6.1,6.1-6.1c3.4,0,6.1,2.7,6.1,6.1S68.8,56.1,65.5,56.1 z'/></svg>");
}

article h2, article p{
	margin: 0;
}

article h2{
	font-size: 1.4em;
	font-weight: 700;

	display: inline-block;
	margin-top: 10px;
	/*margin-bottom: -5px; /*if titled, make it close*/
	/*Edit: doesn't work after inline-block, which needed to inline title with tags.*/
	margin-bottom: -1px;
}

article .post-content{
	width: inherit;
	box-sizing: border-box;
	padding: 3px 15px 15px 15px;
}

article .footer-link{
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: -15px;
	padding: 14px 0;

	border-top: 1px solid rgba(255,255,255,0.15);
}
.white .footer-link{
	color: white;
	background-color: rgba(255,255,255,0.075);
}
.black .footer-link{
	color: black;
	background-color: rgba(0,0,0,0.075);
}

.white .footer-link:hover{
	color: white;
	background-color: rgba(255,255,255,0.15);
}
.black .footer-link:hover{
	color: black;
	background-color: rgba(0,0,0,0.015);
}

article p,
article li{
	margin-top: 10px;

	line-height: 1.4;
	font-size: 1em;
}

article .image-container{
	width: inherit;
}

article img{
	width: inherit;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	margin-bottom: 0; /*-5px*/
	transition: opacity 0.1s linear;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
article img.loading{
	opacity: 0.75;
}
article img.zoom{
	cursor: pointer; /*IE*/
	cursor: zoom-in;
}

article.no-image .post-content{
	transition: padding 0.25s ease;
}
article.no-image:hover .post-content{
	padding-top: 17px;
}

/*COLORS*/
.image-only img{
	margin-bottom: 4px;
}

.white{
	color: white;
}
.white p,
.white li{
	color: rgba(255,255,255,0.85);
}
.white .post-content,
.white a.cover-link,
.white a.footer-link{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
.white a.cover-link:before,
.white a.footer-link:before{
	-webkit-filter: drop-shadow(0px 1px rgba(0,0,0,0.75));
	        filter: drop-shadow(0px 1px rgba(0,0,0,0.75));
}

.black{
	color: black;
}
.black p,
.black li{
	color: rgba(0,0,0,0.85);
}
.black .post-content,
.black a.cover-link,
.black a.footer-link{
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}
.black a.cover-link:before,
.black a.footer-link:before{
	-webkit-filter: drop-shadow(0px 1px rgba(255,255,255,0.5));
	        filter: drop-shadow(0px 1px rgba(255,255,255,0.5));
}

.white .tag{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.black .tag{
	text-shadow: 0px 1px 1px rgba(255,255,255,0.25);
}

/*links*/
.white .post-content :not(.tag) a{
	color: white;
}
.black .post-content :not(.tag) a{
	color: black;
}

article .post-content :not(.tag) a:hover{
	background-repeat: repeat-x;
	background-size: 1px 2px;
}
article .post-content h2 a{
	background-position: 0 21px;
}
article .post-content p a{
	background-position: 0 17px;
}

.white .post-content :not(.tag) a:hover{
	background-image: linear-gradient(to top, rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.5) 50%);
}
.black .post-content :not(.tag) a:hover{
	background-image: linear-gradient(to top, rgba(0,0,0,0) 50%,
		rgba(0,0,0,0.5) 50%);
}

abbr{
	/*border-bottom-width: 1px;
	border-bottom-style: dotted;*/
	border-bottom: none;
	cursor: help;
}
/*.black abbr{
	border-bottom-color: rgba(0,0,0,0.25);
}
.white abbr{
	border-bottom-color: rgba(255,255,255,0.25);
}
.black abbr:hover{
	border-bottom-color: rgba(0,0,0,0.5);
}
.white abbr:hover{
	border-bottom-color: rgba(255,255,255,0.5);
}*/

#about{
	background-color: #FFF;
}
#thinkBAY{
	background-color: #228ACC;
}
#writer{
	background-color: brown;
}
#bay{
	background-color: #1366E6;
}
#home{
	background-color: #2A333C;
}

/*article:hover h2, article:hover .tag{
	margin-top: 22px;
}
article h2, article .tag{
	transition: margin 0.25s ease;
}*/

/*MORE IMAGES ICON*/
.more-images{
	height:15px; width:68px;

	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHJlY3QgeD0iNSIgeT0iNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjYiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+PHBvbHlnb24gZmlsbD0iI0ZGRiIgb3BhY2l0eT0iMC41IiBwb2ludHM9IjI2LDQgMzAsNCAzMCwzMCA1LDMwIDUsMjYgMjYsMjYiLz48L3N2Zz4='),
url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDUiPjxwb2x5Z29uIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRiIgcG9pbnRzPSItMC41LDAgMi4wNDcsMi41IC0wLjUsNSIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-position: left center, right center;
	background-size: 15px 15px, 7px 7px;
	opacity: 0.25;

	position: absolute;
	margin-top: -27px;
	margin-left: 12px;

	color: white;
	font-size: x-small;

	transition: opacity 0.25s ease;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.more-images:after{
	content: attr(data-image-count)' images';

	position: relative;
	margin-left: 20px;
	top: 1px;

	transition: margin-left 0.1s ease;
}

.more-images.loading{
	background-image: none;
	cursor: default;
}
.more-images.loading:after{
	content: 'Loading…';
	margin-left: 4px;
}

.more-images:not(.loading):hover{
	cursor: pointer;
	text-decoration: underline;
}
.more-images:not(.loading):active{
	background-position: left center, 62px center;
}

article:hover .more-images{
	opacity: 1;
	transition: opacity 0.15s ease;
}

/*PUBDATE*/
.pubdate{
	display: block;
	padding: 3px 5px;

	position: absolute;
	z-index: 100; /*solving the weird act when changing img opacity*/
	left: 10px;
	top: 0;

	box-shadow: 0 1px 1px rgba(0,0,0,0.20);

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

	font-weight: 400;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: height 0.25s ease, opacity 0.25s ease;
	opacity: 0;
	height: 0;
}

.white .pubdate{
	background-color: white;
	color: rgba(0,0,0,0.75);
}
.black .pubdate, .image-only .pubdate{
	background-color: black;
	color: rgba(255,255,255,0.75);
}

article:hover .pubdate{
	opacity: 1;
	height: 1.4em;
}

/*TAGS*/
article .tags{
	float: right;
	margin-top: 14px;
}

article .tag{
	height: 15px;

	padding: 1px 2px 1px 4px;

	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.55em;
	letter-spacing: 2px;

	box-sizing: border-box;

	float: right;

	margin-left: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	border-radius: 2px;
}
article .tag.live{
			animation: infinite live-ease 7s;
	-webkit-animation: infinite live-ease 7s;
}

.white .tag{
	border: 1px solid rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.3);
}
.white .tag.live{
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.black .tag{
	background-color: rgba(0,0,0,0.20);
	border: 1px solid rgba(0,0,0,0.20);
}
.black .tag.live{
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.tag.live::first-letter{
	margin-right: 2px;
}

/*VIEWER*/
#image-viewer{
	width: 100%;
	height: 100%;

	position: fixed;
	top:0; bottom:0; left:0; right:0;
	margin: auto;
	z-index: 150;

	cursor: pointer;
	cursor: zoom-out;

	background: radial-gradient(black, rgba(0,0,0,0.75));
			animation: fadein 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
	-webkit-animation: fadein 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
}
#image-viewer.fadeout{
			animation: fadeout 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
	-webkit-animation: fadeout 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
}
#image-viewer.outoffocus{
	display: none;
}

#big-image{
	background-color: white;
	max-height: 80%;
	max-width: 80%;
	background-clip: padding-box;
	border: 7px white solid;
	border-radius: 7px;

	box-shadow: 0px 5px 25px rgba(0,0,0,0.5);

	/*Centering*/
	width: auto;
	height: auto;

	position: inherit;
	top:0; bottom:0; left:0; right:0;
	margin: auto;

	cursor: default;

			animation: expand 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
	-webkit-animation: expand 0.5s cubic-bezier(0.19,1.0,0.22,1.0);

	/*mozilla special!*/
	-moz-user-select: none;
}
#big-image.shrink{
			animation: shrink 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
	-webkit-animation: shrink 0.5s cubic-bezier(0.19,1.0,0.22,1.0);
}

/*ANIMATIONS*/
@keyframes live-ease{
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes live-ease{
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes expand{
	from{
		transform: scale(0.95);
	}
}
@-webkit-keyframes expand{
	from{
		-webkit-transform: scale(0.95);
	}
}

@keyframes shrink{
	to{
		transform: scale(0.95);
	}
}
@-webkit-keyframes shrink{
	to{
		-webkit-transform: scale(0.95);
	}
}

@keyframes fadein{
	from{
		opacity: 0;
	}
}
@-webkit-keyframes fadein{
	from{
		opacity: 0;
	}
}

@keyframes fadeout{
	to{
		opacity: 0;
	}
}
@-webkit-keyframes fadeout{
	to{
		opacity: 0;
	}
}

/*
!!!!
This pen is being refactored
!!!!
*/

/*
=====
DEPENDENCES
=====
*/

/*
styles to reset headings https://github.com/melnik909/r-title
*/

.r-title{
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
styles of typography  https://github.com/melnik909/css-typography
*/

p:not([class]){
  line-height: var(--cssTypographyLineHeight, 1.78);
  margin-top: var(--cssTypographyBasicMargin, 1em);
  margin-bottom: 0;
}

p:not([class]):first-child{
  margin-top: 0;
}

/*
text component
*/

.text{
  display: var(--textDisplay, inline-flex);
  font-size: var(--textFontSize, 1rem);  
}

/*
time component
*/

/*
core styles
*/

.time{
  display: var(--timeDisplay, inline-flex);
}

/*
extensions
*/

.time__month{
  margin-left: var(--timelineMounthMarginLeft, .25em);
}

/*
skin
*/

.time{
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: var(--timeBackgroundColor, #f0f0f0);

  font-size: var(--timeFontSize, .75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}

/*
card component
*/

/*
core styles
*/

.card{
  padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
}

.card__content{
  margin-top: var(--cardContentMarginTop, .5rem);
}

/*
skin
*/

.card{
  border-radius: var(--timelineCardBorderRadius, 2px);
  border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
  box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  background-color: var(--timelineCardBackgroundColor, #fff);
}

/*
extensions
*/

.card__title{
  --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
  font-size: var(--cardTitleFontSize, 1.25rem);
}

/*
=====
CORE STYLES
=====
*/

.timeline{
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
}

/*
1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
*/

.timeline__year{
  margin-bottom: 1.25rem; /* 1 */
}

.timeline__cards{
  display: var(--timeloneCardsDisplay, grid);
  grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}


/*
=====
SKIN
=====
*/

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year{
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card{
  position: relative;
  margin-left: var(--timelineCardLineGap, 1rem);
}

/*
1. Stoping cut box shadow
*/

.timeline__cards{
  overflow: hidden;
  padding-top: .25rem; /* 1 */
  padding-bottom: .25rem; /* 1 */
}

.timeline__card::before{
  content: "";
  width: 100%;
  height: var(--timelineCardLineWidth, 2px);
  background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));

  position: absolute;
  top: var(--timelineCardLineTop, 1rem);
  left: -50%;
  z-index: -1;
}

/*
=====
SETTINGS
=====
*/
/**/
.timeline{
  --timelineMainColor: #1e56a0;
}

.page{
  max-width: 47rem;
  padding: 5rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}
